@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
}
.info{
    display: flex;
}
@media(max-width:650px){
    .info{
        display:block;
        text-align: center;
    }
}
.info-text{
    margin-left: 30px;
    margin-top: 20px;
}
.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #071e24;
}
.card1{
     border: 2px;
     border-radius: 0px;
     background-color: #c9d1e0;
     padding: 15px 20px;
}
.card2{
    border: 2px;
    border-radius: 0px;
    background-color: #e7e0d5;
    padding: 15px 20px;
}
.card3{
    border: 2px;
    border-radius: 0px;
    background-color: #d9e9e5;
    padding: 15px 20px;
}
.card4{
    border: 2px;
    border-radius: 0px;
    background-color: #adc0b5;
    padding: 15px 20px;
}
.card5{
    border: 2px;
    border-radius: 0px;
    background-color: #c7cfe0;
    padding: 15px 20px;
}
.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 25px;
    margin-left: 0%;
    border: 2px;
}
.card2 a {
    text-decoration: none;
    transition: all .2as;
}
a:hover{
    color: black;
    font-size: 0.75rem;
}
a:active{
    color: blue;
}
a:visited{
    color: green;
}
.btn{
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.list{
    padding: 0 20px;
}
.list li{
    color: #452398;
    margin-bottom: 10px;
}
.link-list{
    list-style: none;
    padding: 0;
}
.link-list li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}
.table td:nth-child(2){
    color: #0f141e;
}
.form h2{ 
    text-align: center;
}
.form-row{
    margin-bottom: 10px;
    display: flex;

}
.form-row .form-group{
    /* display: inline-block;   */
    margin-right: 20px; 
    width: 50%;
    /* width: calc(50%-20px); */
}
.form-row .form-group:last-child{
    margin-right: 0;
}
.form-group label{
    display: block;
    font-size: 14px;
    color:#0f141e ;
}
.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(20, 18, 18);
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}